h1{
	text-align: left;
	color: #4b4b4c;
	font-weight: bolder;
}
h3{
	color: #4b4b4c;
	font-size: 15px;
	font-weight: 400;
}
h4{
	color: #676767;
	font-size: 18.2px;
	font-weight: bolder;
}
p{
	color: #afafaf;
}
hr{
	height: 1px;
	background-color: #afafaf;
}

#senin,#selasa,#rabu,#kamis,#jumat{
	padding: 20px;
	border-radius: 8px;
}

#senin,#selasa,#rabu{
	margin: 47px;
}
#kamis,#jumat{
	margin: 0px 47px 47px 47px;
}